body {
  margin: 0;
  background-color: #ffffff;
  padding: 0;
  max-width: 1200px;
  color: #000;
}
* {
  box-sizing: border-box;
  /* width: 100%; */
  font-family: sans-serif;
  /* color: rgb(0, 0, 0); */
}

button {
  border: 1px solid black;
  color: #000;
  /* background: white; */
}

/* height: 400px; */
/* width: auto; */
/* background: #000; */
/* color: white; */

header {
  position: sticky;
  top: 0px;
  z-index: 100;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  /* background-color: antiquewhite; */
}
ul {
  display: flex;
  width: 50%;
  margin: auto;
  padding: 20px;
  justify-content: space-evenly;
}
li {
  list-style: none;
  font-size: large;
}
.section1 {
  /* position: relative; */
  background-image: url(./WIN_20230926_13_27_01_Pro.jpg);
  /* height: auto; */
  object-fit: contain;
  height: 100vh;
  opacity: 0.7;
  /* border: 2px solid red; */
}

.section2 h1 {
  text-align: center;
  font-size: 3rem;
  padding: 2rem 0 0px 0;
  /* padding-bottom: -20px; */
  margin: 0;
  background-color: #d0c3c3;
}
.section2 {
  background-color: #d0c3c3;
  /* max-width: 1200px; */
  /* margin: -27px; */
}
.resume {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 40px 70px;
  /* margin-top: -70px; */
}

.resume h2 {
  color: rgb(56, 230, 65);
  text-align: center;
}

.Education1 div,
.Experience1 div {
  gap: 20px;
  height: 160px;
  background-color: rgb(238, 240, 240);
  padding: 0 10px;
  border-radius: 10px;
  width: 78vh;
}
.Education1,
.Experience1 {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.Education1 div,
.Experience1 div {
  transition: transform 0.3s ease;
  box-shadow: 0 4px 12px rgba(239, 238, 239, 0.1);
}
.Education1 div:hover,
.Experience1 div:hover {
  transform: scale(1.02);
}
.Experience1 h4,
.Education1 h4 {
  display: flex;
  color: gold;
  margin-bottom: -10px;
}
.Education1 i,
.Experience1 i {
  width: 30px;
  color: gold;
}
.Education1 h3,
.Experience1 h3 {
  color: gold;
}
.brief {
  margin: -10px 0;
}

.Skills div {
  background-color: white;
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* width: 1200px; */
}
.Skills img {
  width: 130px;
  height: 150px;
  /* animation-name: example; */
}
.skillA,
.skillB {
  padding: 40px;
  display: flex;

  /* justify-content: center; */
  justify-content: space-around;
}
.Skills img:hover {
  border: 2px soild red;
  transform: scale(1.2);
  transition: ease-out 1s;
}

@keyframes example {
  0% {
    left: 100%;
    top: 40%;
  }
  /* 25%  { left:75%; top:40%;}
  50%  { left:60%; top:40%;}
  75%{left: 50%;top: 40%;} */
  100% {
    left: 40%;
    top: 40%;
  }
}
.section1 div {
  position: absolute;
  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  font-size: 2rem;
  width: 500px;
  /* transform: translate(-50%, -50%); */

  top: 40%;
  left: 40%;
}
.section1 h2 {
  margin-left: -5rem;
}
.section1 {
  position: relative;
  overflow: hidden;
  transition: ease-in;
}
.contact {
  background-color: #d0c3c3;
  padding: 20px;
  background-image: url(./IMAGES/hanging-cards-contact-us-legoohdxv3t8zhd1.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 90vh;
  opacity: 0.7;
}
.contact h1,
.contact h3 {
  text-align: center;
  font-size: 2rem;
}
.contact div {
  /* position: fixed; */
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  z-index: 4;
  justify-content: center;
  align-items: center;
  font-size: larger;
}
.Skills h1 {
  text-align: center;
  font-size: 5rem;
  margin: 2rem;
}
